<?xml version="1.0"?>
<launch>
   <!-- Gazebo  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- arg name="world_name" value="$(find multi_robot_scenario)/worlds/willowgarage.world"/ -->
    <arg name="world_name" value="$(find p3dx_nav_gazebo)/worlds/hallway.world"/>
    <arg name="paused" value="false"/>
  </include>
  
  <!-- Robot with diff drive -->
  <include file="$(find multi_robot_scenario)/launch/pioneer3dx.gazebo.launch">
     <arg name="robot_name" value="r1" />
     <arg name="robot_position" value="-x 10.0 -y 0.0 -z 0.0 -R 0 -P 0 -Y +3.14" />
   </include>


  <node pkg="tf" type="static_transform_publisher" name="base_to_odom_r1"
     args="0.0 -0.0 0.0 0.0 0.0 0.0 base_link r1/odom 200" />
  
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen">
    <remap from="cmd_vel" to="r1/cmd_vel"/>
  </node>
  <!-- RVIZ -->
  <!-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find p3dx_nav_gazebo)/launch/pioneer3dx.single.rviz" />
  <-->

  <node pkg="rosbag" type="record" name="rosbag_record" args='record -o $(find p3dx_nav_gazebo)/bags/mapping -a -x "/r1/front_camera/image_raw|/r1/front_camera/image_raw/compressedDepth(.*)|/r1/front_camera/image_raw/theora(.*)"' />
  <!--rosparam command="load" file="$(find p3dx_nav_gazebo)/cfg/runtime_globals.yaml" />
  <node name="move_base" pkg="p3dx_nav_gazebo" type="move_base" output="screen" />
  <node name="check_obstacles" pkg="p3dx_nav_gazebo" type="check_obstacles" output="screen" /-->
  

</launch>
