<?xml version="1.0"?>
<launch>
  <arg name="bag_name" default="gazebo_slalom_3m_global_no_unknown" />
  <node pkg="rosbag" type="record" name="rosbag_record" args='record -o $(find results)/bags_gazebo/$(arg bag_name) -a -x "(.*)/image_raw|(.*)/compressedDepth(.*)|(.*)/theora(.*)"' output="screen"/>
</launch>
