<launch>
  <!-->
  <-->
	<include file="$(find p3dx_real)/launch/real.bag.record.launch">
    <arg name="bag_name" value="zig_zag_80cm" />
  </include>
  <arg name="long_corridor_end" default="x: 1.9968617095, y: -12.0108918326, z: 0.0" />
  <arg name="intermediate" default="x: 41.0, y: -12.0, z: 1.0" />

  <arg name="goal" default="$(arg intermediate)" />



  <node name="goal_publisher" pkg="rostopic" type="rostopic" args="pub /move_base_simple/goal geometry_msgs/PoseStamped '{header: {stamp: now, frame_id: 'map'}, pose: {position: {$(arg goal)}, orientation: {w: 1.0}}}'" />

</launch>