<launch>

  <param name="use_sim_time" value="true" />
  <arg name="scan_topic" default="scan" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find p3dx_gazebo)/xacro/p3dx/pioneer3dx.sick.xacro'" />

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>
    <!-- custom parameters -->
    <param name="maxRange" value="4.0"/> <!-- according to radar param, eliminates "stains" on the roboth path -->
    <param name="maxUrange" value="3.0"/> <!-- trims the laser readings at this distance, must be < maxRange. Limits corners false readings -->
    <param name="lstep" value="0.01"/>
    <param name="astep" value="0.01"/>
    <param name="delta" value="0.03"/>
    <!-- additional parameters -->
    <!-->
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="maxUrange" value="6.0"/>
    <param name="lsigma" value="0.075"/>
    <param name="particles" value="30"/>
    <param name="iterations" value="10"/>
    <param name="srr" value="0.05"/>
    <param name="srt" value="0.1"/>
    <param name="str" value="0.05"/>
    <param name="stt" value="0.1" />
    <param name="kernelSize" value="3"/>
    <param name="minimumScore" value="50"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="maxUrange" value="80.0"/>
    <param name="maxRange" value="8.0"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="iterations" value="5"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="80"/>
    <param name="xmin" value="-50.0"/>
    <param name="ymin" value="-50.0"/>
    <param name="xmax" value="50.0"/>
    <param name="ymax" value="50.0"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <-->
  </node>


  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find p3dx_real)/configuration/rviz/mapping.rviz" />


</launch>